* {
    padding: 0px;
    margin: 0px;
}

.header {
    background-color: black;
    padding: 20px;

}

.container {
    max-width: 1160px;
    margin: 0 auto;
    width: 100%;

}

.header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    margin-left: 41px;
}

a {
    text-decoration: none;
}

.header__item:not(:last-child) {
    margin-right: 33px;
}

.promo {
    background: #F1E4E6;
    height: 764px;
}

.promo__title {
    max-width: 377px;
    padding-left: 20px;
    border-left: 12px solid red;
}

.promo__wrap {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: url(../img/man.png) no-repeat -228px;


}

.promo__decor {
    color: red;
}

.category {
    margin: 100px 0 0 0;
}

.category__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.category__items {
    width: 100%;
    height: 180px;

}

.category__items:not(:last-child) {
    width: 380px;
    height: 260px;
    margin: 0 0 30px 0;
}

.main {
    margin: 100px 0 0 0;
}

.content__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 20px;
}

.content__items {
    height: 582px;
    background: #F8F8F8;
    max-width: 360px;
    margin-bottom: 44px;
}

.textFetured {
    width: 100%;
    text-align: center;
    font-family: Lato;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;

}

.textShop {
    width: 100%;
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    margin-bottom: 52px;

}

.text__item {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    padding: 33px 0 20px 20px;
}

.text__item__description {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    padding: 0px 0 10px 20px;
}

.price {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    padding: 10px 0 0px 20px;
}

.product__content {
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    color: rgba(242, 99, 118, 1);
    height: 48px;
    width: 212px;
    border: 1px solid rgba(255, 106, 106, 1);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product__content:hover {
    background: linear-gradient(0deg, #F16D7F, #F16D7F),
        linear-gradient(0deg, #FF6A6A, #FF6A6A);
    color: rgba(255, 255, 255, 1);


}

.button {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

.footer__wrap {
    padding-top: 104px;
    display: flex;
    justify-content: space-around;
}

.footer {
    background-color: rgba(34, 34, 36, 1);
}

.footer__section {
    height: 341px;
}

.socials__block {
    max-width: 360px;
}

.text__footer {
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(251, 251, 251, 1);
    padding-top: 40px;
}

.text__block {
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(251, 251, 251, 1);
    padding-top: 20px;
}

.img__svg__footer {
    padding-left: 150px;
}

.block__information {
    background: url(../img/photo__subscribe.png) no-repeat;
    height: 448px;
    background-size: cover;
}

.text__left__info {
    max-width: 360px;
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    padding-top: 40px;

}

.information__block {
    display: flex;
    justify-content: space-between;
}

.left__information {
    margin-top: 97px;
}

.img__wooman {
    padding-left: 120px;
}

.form__email {
    box-sizing: border-box;
    background: #E1E1E1;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 49px;
}

.button__subscribe {
    background: #F16D7F;
    border-end-end-radius: 10px;
    border-start-start-radius: 10px;
    height: 49px;

}

.button_sub__span {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.right__information {
    padding-top: 150px;
}

.text__subscribe {
    text-align: center;
}

.text__info {
    padding-top: 15px;
}

.new_form {
    text-align: center;
    padding-top: 32px;
}

.block__aside {
    height: 79px;
    background-color: rgba(34, 34, 36, 1);
}

.brand {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.wraper__block__aside {
    display: flex;
    justify-content: space-between;
}

.socialNetwork {
    padding-top: 23px;
}

.brand__aside {
    padding-top: 28px;
}
.rectangle__sand {
    height: 148px;
    background: #F8F3F4;
}

.arrivals {
    display: flex;
    justify-content: space-between;
    padding-top: 59px;
}

.list__catalog {
    display: inline;
}

.list__catalog__link:hover {
    color: rgba(241, 109, 127, 1);
}

.list__catalog__link {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
}

.centr__list__catalog {
    display: flex;
    justify-content: center;
    margin-top: 51px;
    margin-bottom: 65px;
}

.red__arrivals {
    font-family: Lato;
    font-size: 24px;
    font-weight: 400;
    color: rgba(241, 109, 127, 1);
}

.details-list {
    all: unset;
    cursor: pointer;
}

.list-content {
    position: absolute;
    display: block;
    width: 79px;
    background: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    height: 103px;
    z-index: 3;
}

.text__brop__block {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}

.arrow {
    padding-left: 10px;
}

ul {
    list-style-type: none;
}

/* .block_centr_list {
    display: flex;
    justify-content: center;
} */

.wrap_centr_list {
    margin: 0 33px 0px 0px;
}

li {
    padding: 6px 0px 0px 9px;
}

/* ФИЛЬТР */


.catalog__trand__size {
    display: flex;
    justify-content: space-between;
}

.heading__summary__catalog {
    cursor: pointer;
}

.filter__left.filter__left::webkit-details-marker {
    display: none;
}

.filter__left {
    all: unset;
}

.filter__left[open] {
    position: absolute;
    box-shadow: 6px 4px 35px rgb(0 0 0 / 21%);
    width: 360px;
    background: #FFFFFF;
    z-index: 3;
}

.filter__left[open]>summary {
    color: rgba(239, 91, 112, 1);
}
.filter__left[open] svg>path {
    fill:rgba(239, 91, 112, 1);
}
.filter-title[open]>summary {
    color: rgba(239, 91, 112, 1);
}

summary {
    all: unset;
}

.summ__filter {
    display: block;
    border-left: 10px;
    border-left: 10px solid #EF5B70;
    border-bottom: 1px solid #EBEBEB;
    padding: 11px;
    outline: none;
    cursor: pointer;
}

.filter__left__catalog {
    margin-top: 51px;
    width: 400px;
}

.right__catalog {
    width: 400px;
}

.filter-item {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}

.filter-item:hover {
    color: rgba(239, 91, 112, 1);
}

.item__list__wraper {
    margin-left: 34px;
}

/* 
затемнение */
/* .cards {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.item {
    width: 263px;
    margin: 5px;
    overflow: hidden;
    min-height: 281px;
    margin-bottom: 20px;
    outline: 1px solid grey;
    padding-bottom: 10px;
    position: relative;
    transition: 0.5s;
}

.item:hover {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}

.item:hover .overlay {
    opacity: 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 250px;
    background-color: rgba(58, 56, 56, 0.83);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;

} */

.cards {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.content__items {
    height: 582px;
    background: #F8F8F8;
    max-width: 360px;
    margin-bottom: 44px;
    position: relative;
    transition: 0.5s;
    /* outline: 1px solid grey; */
    overflow: hidden;
}

.content__items:hover {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}

.content__items:hover .overlay {
    opacity: 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 420px;
    background-color: rgba(58, 56, 56, 0.83);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;

}

.textFetured {
    width: 100%;
    text-align: center;
    font-family: Lato;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;

}

.textShop {
    width: 100%;
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    margin-bottom: 52px;

}

.text__item {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    padding: 33px 0 20px 20px;
}

.text__item__description {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    padding: 0px 0 10px 20px;
}

.price {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    padding: 10px 0 0px 20px;
}

.btn {
    cursor: pointer;
    width: 143px;
    height: 44px;
    overflow: hidden;
    outline: none;
    background-color: transparent;
    border: none;
    background-image: url(../img/button__cart.png);
}
